<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="query" resultType="User">
        SELECT id, name FROM user
    </select>

    <select id="queryById" resultType="User" parameterType="map">
        SELECT id, name FROM user WHERE id=#{id}
    </select>
    
    <update id="updateById" parameterType="User">
        UPDATE user SET name=#{name} WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="map">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>